--extra-index-url https://download.pytorch.org/whl/cu121
--find-links https://download.openmmlab.com/mmcv/dist/cu121/torch2.1/index.html

torch==2.1.2+cu121
torchvision==0.16.2+cu121
mmcv==2.1.0
mmengine==0.10.7
mmdet==3.3.0
transformers==4.28.0
safetensors==0.7.0
fairscale==0.4.13
numpy==1.26.4
opencv-python==4.10.0.84
pycocotools==2.0.7
PyYAML==6.0.2
Pillow==10.4.0
scipy==1.13.1
